* {
    margin: 0;
    padding: 0;
  }
  
  body, ul, li, p, a, label, input, div, .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .h1 {
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .h2 {
    font-size: 30px !important;
    font-weight: 200 !important;
  }
  .h3 {
    font-size: 22px !important;
  }

  /* General */
  .logo {
    font-weight: 500 !important; 
    }
  .text-main { 
    color: #3dd1b1 !important; 
  }
  
  .btn-main {
    background-color: #3dd1b1 !important;
    border-color: #3dd1b1 !important;
    width: 150px;
  }
  
  
  /* home */
  #home { background: #efefef !important; }
  /* About */
  .aimg {
    width: 120%;
  }
  /*joy Project */
  #toy1,#toy2,#toy3 {
    transition: transform 200ms;
  }

  #toy1:hover,#toy2:hover,#toy3:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 0.7;
  }



  
  /* Contact */
  
  /* Footer */
  #footer a { color: #000000; }
  #footer a:hover { color: #68bb7d; }
  #footer ul.footer-link-list li { padding-top: 10px; }
  #footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
  }
  #footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
  }
  #footer ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
  }
  #footer .border-light { border-color: #2d343f !important; }
  
  i {
    color: #91969e;
  }
  
  .button {
    background-color: #3dd1b1;
    appearance: none;
    border-radius: 4px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 0.125em;
    line-height: 3.25em;
    min-width: 15em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .button:hover {
    background-color: #fff;
    color: #3dd1b1 !important;
    border : 1px solid #3dd1b1;
    font-weight: bolder !important;
  }
  
  
  
  @media (min-width: 576px) {
    .tempaltemo-carousel .h1 {
        font-size: 1em !important; 
      }
  }
  
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {max-width: 450px;}
  }
  
  @media (min-width: 992px) {
    #templatemo_main_nav .navbar-nav {max-width: 550px;}
    #home .carousel-item {min-height: 30rem !important;}
  }
  
  @media (min-width: 1200px) {}