@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'MaplestoryOTFBold';
    margin: 0;
    padding: 0;
  }
  
  body, ul, li, p, a, label, input, div, .h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  a {
    text-decoration: none;
  }
  #main {
    text-shadow: -4px 0px yellow;
    font-family: 'MaplestoryOTFBold';
  }
  .nav-link {
    float: right !important;
    color: #000000;
  }
  .nav-link:hover {
    color: #3dd1b1;
  }
  .h1 {
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .about {
    font-size: 48px !important;
    font-weight: 200 !important;
  }
  .hi {
    font-size: 48px !important;
    font-weight: 200 !important;
    color: #3dd1b1;
    font-family: 'MaplestoryOTFBold';
  }
  .name {
    font-size: 30px !important;
    font-family: 'MaplestoryOTFBold';
  }
  .typing-txt {
    display: none;
  }
  .typing-txt ul {
    list-style: none;
  }
  .typing ul li {
    display: block;
  }
  .typing ul li.on {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes cursor {
    0%{border-right: 1px solid #000;}
    50%{border-right: 1px solid #fff;}
    100%{border-right: 1px solid #000;}
  }
  
  .h3 {
    font-size: 22px !important;
  }
  /* Skill */
  .containers {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  .containers .progress-container {
    margin-bottom: 15px;
  }
  .containers .progress-container h4{
    margin: 0px 0px 0px 20px;
    letter-spacing: 0.5px;
  }
  .containers .progress-container .progress-bar{
    position: relative;
    width: auto;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 3px 4px 5px 0px rgba(204 185 185 / .75);
  }
  .containers .progress-container .progress-bar span{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, #6df5d7 50%, #00ffc8 100%);
    transition: width .5s linear;
    opacity: 0.8;
  }
  
  /* General */
  .logo {
    font-weight: 500 !important; 
    }
  .text-main { 
    color: #3dd1b1 !important; 
  }
  .btn0 {
    font-family: roboto;
    letter-spacing: 1px;
    padding: 5px 0;
    border-radius: 9px;
    font-size: 1.5rem;
    color: #eaeaea !important;
    font-weight: bold;
    background-color: #3dd1b1;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.5);
    width: 400px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    --a: initial;
  }
  .btn0:hover {
    background-color: #6fe0c8;
    color: #fff !important;
  }
  .btn0:after {
    content: "";
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--diameter);
    height: var(--diameter);
    transform: scale(0);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    pointer-events: none;
    animation: var(--a);
  }
  
  @keyframes ripple-effect {
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  /* home */
  #home { background: #efefef !important; }
  /* About */
  .aimg {
    width: 120%;
  }
  /*toy Project */
  .toy {
    transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
  }
  .toy:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-10px);
  }
  #toy1 p,#toy2 p,#toy3 p,#toy4 p{
    color: #000000;
  }
  #toy1 img{
    position: relative;
  }
  #toyt {
    font-weight: bolder;
  }


  
  /* Contact */
  
  /* Footer */
  #footer a { color: #000000; }
  #footer a:hover { color: #68bb7d; }
  #footer ul.footer-link-list li { padding-top: 10px; }
  #footer ul.footer-icons li {
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
  }
  #footer ul.footer-icons li:hover {
    background-color: #cfd6e1;
    transition: .5s;
  }
  #footer ul.footer-icons li:hover i {
    color: #212934;
    transition: .5s;
  }
  #footer .border-light { border-color: #2d343f !important; }
  
  i {
    color: #91969e;
  }
  
  .TopBtn {
    background-color: #3dd1b1;
    appearance: none;
    border-radius: 4px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.125em;
    line-height: 3.25em;
    min-width: 15em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .TopBtn:hover {
    background-color: #fff;
    color: #3dd1b1 !important;
    border : 1px solid #3dd1b1;
    font-weight: bolder !important;
  }

  .button {
    list-style: none;
  }
  .last-container {
    text-align: center;
    width: 100%;
  }
    
  
  @media (min-width: 500px) {
    .tempaltemo-carousel .h1 {
        font-size: 1em !important; 
      }
      .button {
        left: 28% !important;
      }
      #toy1,#toy3 {
        margin-bottom: 20px !important;
      }
  }
  @media (min-width: 576px) {
    .tempaltemo-carousel .h1 {
        font-size: 1em !important; 
      }
  }
  
  @media (min-width: 768px) {
    #templatemo_main_nav .navbar-nav {
      max-width: 450px;
    }
    .button {
      left: 35% !important;
    }
  }
  
  @media (min-width: 992px) {
    #navl{margin-left: -500px;}
  }
  
  @media (min-width: 1200px) {}