/* Reset CSS */
* { margin: 0; padding: 0;}
ol,ul { list-style: none;}
a { outline: 0; text-decoration: none; color: #bbb;}
body { position: fixed; 
    width: 100%; 
    height: 100%; 
    background-color: #111;
    font-family: 'Nanum Gothic Coding', monospace;
    
}
img { border: 0;}

/* 배경동영상 */
iframe{ width: 100%; min-width: 1600px; height: 100%; position: fixed; top: -60px; left: 0px; opacity: 0.9; pointer-events: none;}

/* 로고 */
h1 { position: fixed; top: 40px; left: 65px !important; z-index: 10;}
h1 img{ width: 280; height: auto;}
header {width: 700px; height: 100%; position: fixed; top: 0px; left: -420px; background: linear-gradient(-45deg,#001E50, #003165, #004279); transform: skewX(-40deg); }

/* 1depth */
#gnb .fa { animation: fa-spin 2s infinite linear;}
#gnb { width: 220px; position: absolute; top: 90px; right: 0px;}
#gnb>li {position: relative; font-size: 20px; left: -20px;}
#gnb>li>a { display: block; width: 240px; height: 50px; font-size: border  18px/3 play; color: #eee; box-sizing: border-box; padding-right: 25px; text-align: right; line-height: 50px;}
#gnb>li.on>a { background:#201c1c;}
#gnb>li:hover>a {background: #363636; color: #4CC7F4;}
#gnb em {display: inline-block; transform: skewX(40deg);}
#gnb em i {margin-right: 20px;}

/* 2depth */
#gnb ul {position: absolute; left: 0px; top: 0px; opacity: 0; transition: all 0.4s;}
#gnb>li:hover>ul {opacity: 0.8; left: 225px;}
#gnb ul a { display: block; width: 230px; height: 40px; background: #363636; border-bottom:2px solid #ffffff; font: bold 16px/2.5 arial; color: #bbb; box-sizing: border-box; padding-left: 40px; margin-bottom: 3px; transition: all 0.5s;}
#gnb ul a:hover {background: #004279; color: #4CC7F4;}
#gnb>li.on ul { opacity:0.8; left:205px; top:-10px; }
#gnb li.on ul a { background:#444; opacity:0.7; } 

/* sns 버튼 모음 */
#sns { position: fixed; top: 60px; right: 50px;}
#sns li { float: left; margin-right: 20px;}
#sns .fa { font-size: 25px; color: #2aa7d4; opacity: 0.5; transform: scale(1); transition: all 0.5s;}
#sns .fa:hover { opacity: 1; transform: scale(1.4);}

/* contents 레이아웃 */
#side { width: 800px; height: 100%; position: fixed; bottom: 0px; right: -800px; background: #003165; opacity: 0.5; transform: skewX(-40deg); transition: all 0.5s;}
#side:hover { right: -500px; opacity: 0.8;}
#side .con { width: 400px; height: 100%; position: absolute; left: 150px; bottom: 0px; background: #135499; box-sizing: border-box; padding: 10px; transition: all 1s;}
#side:hover .con { left: 50px;}

/* contents내 썸네일 */
#side .con p { width: 300px; height: 100px; position: absolute; left: 50px;}
#side .con p em { display: inline-block; font: bold 16px/1.7 arial; color: #eee; transform: skewX(40deg);}
#side .con p img { width: 300px; height: 70px; opacity: 0.3; transition: all 0.5s;}
#side .con p img:hover { opacity: 1;}
#side .con p:nth-child(1) { bottom: 270px; transform: translateX(200px); transition: all 0.4s;}
#side .con p:nth-child(2) { bottom: 160px; transform: translateX(200px); transition: all 0.8s;}
#side .con p:nth-child(3) { bottom: 50px; transform: translateX(200px); transition: all 1.2s;}
#side:hover .con p { transform: translateX(0px);}

/* 자동롤링 버튼 */
#side .btnContents { width: 150px; height: 50px; position: absolute; bottom: 40px; left: 100px; color: #acb6c0; transform: skewX(40deg);}
#side:hover .btnContents {left: 700px;}
.btnContents i {font-size: 60px; position: absolute; bottom: 0px; opacity: 1;}
.btnContents i:nth-child(1){ animation: ani linear 1.5s 0s infinite;}
.btnContents i:nth-child(2){ animation: ani linear 1.5s 0.5s infinite;}
.btnContents i:nth-child(3){ animation: ani linear 1.5s 1.0s infinite;}

@keyframes ani {
    0% { right: 0px; transform: scale(1); opacity: 1;}
    100% { right: 100px; transform: scale(1.5); opacity: 0;}
}
